extends layout/layout.pug
block title
    title Sabropollo | Calidad Sabro
    meta(name="description", content="Comprometidos en producir y comercializar, pollo, huevo y alimentos con la más alta calidad")

block content

    main(data-namesection="calidad")

        include shared/header.pug
        
        include modules/_calidad.pug
            
   
        
    
        

    
