extends layout/layout.pug
block title
    title Sabropollo | Expendios
    meta(name="description", content="Disponemos de puntos de venta propios en los que comercializamos pollo fresco de primera calidad.")

block content

    main(data-namesection="contacto")

        include shared/header.pug
        
        include modules/_expendios.pug
            
   
        
    
        

    
