extends layout/layout.pug
block title
    title Sabropollo | Siempre Fresco, Siempre Confiable. 
    meta(name="description", content="Sabropollo es producido en el campo mexicano, con una gran gama de productos de pollo")

block content

    main(data-namesection="home")

        include shared/header.pug
        
        include modules/_home.pug
            
   
        
    
        

    
