extends layout/layout.pug
block title
    title Sabropollo | Productos
    meta(name="description", content="Conoce nuestras lineas de productos de pollo, partes, pechuga, huevo y más")

block content

    main(data-namesection="productos")

        include shared/header.pug
        
        include modules/_productos.pug
            
   
        
    
        

    
