extends layout/layout.pug
block title
    title Sabropollo | Recetas de pollo
    meta(name="description", content="Aprende a preparar comidas saludables con nuestras recetas faciles de pollo")

block content

    main(data-namesection="recetas")

        include shared/header.pug
        
        include modules/_recetas.pug
            
   
        
    
        

    
