extends layout/layout.pug
block title
    title Sabropollo | Sabro App

block content

    main(data-namesection="Sabro App")

        include shared/header.pug
        
        include modules/_sabro-app.pug
        
        