extends layout/layout.pug
block title
    title Sabropollo | Sabro App Ventas 

block content

    main(data-namesection="Sabro App Ventas")

        include shared/header.pug
        
        include modules/_sabro-app-ventas.pug
        
        