extends layout/layout.pug
block title
    title Sabropollo | Fuerza de ventas
    meta(name="description", content="Nuestra fuerza de ventas ofrece atención y asesoría personalizada a nuestros clientes para el manejo adecuado de los productos Sabro.")

block content

    main(data-namesection="contacto")

        include shared/header.pug
        
        include modules/_ventas.pug
            
   
        
    
        

    
