extends layout/layout.pug
block title
    title Calidad Aliamsa | Certificaciones
    meta(name="description", content="Conoce nuestras certificaciones, incluida ISO 9001:2015, BPM y Sistema de Calidad Interpec")

block content

    main(data-namesection="calidad")

        include shared/header.pug
        
        include modules/_calidad.pug
            
   
        
    
        

    
