extends layout/layout.pug
block title
    title Aliamsa | Producción de alimento para Ganado
    meta(name="description", content="Alimento cientificamente balanceado para cerdos, ganado y aves")

block content

    main(data-namesection="home")

        include shared/header.pug
        
        include modules/_home.pug
            
   
        
    
        

    
