extends layout/layout.pug
block title
    title Alimento para Ganado| Aliamsa
    meta(name="description", content="Toda la información nutrimental de nuestro alimento para ganado. Vacas lecheras, de engorda y becerros")

block content

    main(data-namesection="productos")

        include shared/header.pug
        
        include modules/_productos-ganado.pug
            
   
        
    
        

    
