extends layout/layout.pug
block title
    title Alimento para Aves | Aliamsa
    meta(name="description", content="Toda la información nutrimental de nuestro alimento para aves de postura, ponedoras y de engorda.")

block content

    main(data-namesection="productos")

        include shared/header.pug
        
        include modules/_productos-aves.pug
            
   
        
    
        

    
