extends layout/layout.pug
block title
    title Alimento para Cerdos  | Aliamsa
    meta(name="description", content="Toda la información nutrimental de nuestro alimento para cerdos. 50 a 90 kg")

block content

    main(data-namesection="productos")

        include shared/header.pug
        
        include modules/_productos-cerdos.pug
            
   
        
    
        

    
