extends layout/layout.pug
block title
    title Grupo Interpec San Marcos  | Comercialización de Pollo, Huevo y Alimento Balanceado
    meta(name="description", content="Empresa avícola integrada, orgullosamente mexicana, orientada a producción y comercialización de pollo y huevo")

block content

    main(data-namesection="home")

        include shared/header.pug
        
        include modules/_home.pug
            
   
        
    
        

    
