#contacto.error.d-flex
    .section_title
        img#imgError(src="../assets/img/tips-no.svg", alt="")
        h1 Página no encontrada
            img.salpicon(src="../assets/img/salpicon-black.svg", alt="")
        img(class="menu_selected" src="../assets/img/menu_selected.svg" alt="")
                    
    
    include ../shared/footer.pug                
                    