section#heroApp
    .container
        .row
            .col-lg-6
                .title_sabro 
                    h2 Sabro a Casa
                        img.salpicon(src="../assets/img/salpicon-black.svg", alt="")
                    img.menu_selected(src="../assets/img/menu_selected.svg", alt="")
                
                h3 Utiliza nuestra nueva App para hacer tu pedido 
                    br 
                    | Y conoce más acerca de Sabro
                
                #cajalogos.d-flex
                        a(href="https://apps.apple.com/mx/app/sabro-a-casa/id1557315153", target="_blank", rel="noopener noreferrer") 
                            img(src="../../../assets/img/appstore.png", alt="Sabro APP - IOS")
                        
                        a(href="https://play.google.com/store/apps/details?id=mx.com.sabro.sabroacasa", target="_blank", rel="noopener noreferrer") 
                            img(src="../../../assets/img/googleplay.png", alt="Sabro APP - Android")
                            
            .col-lg-6#imgApp
                img.img-fluid(src="../../../assets/img/cel2.png", alt="Sabro App")

include ../shared/footer.pug