section#sabroApp
    .container
        .row 
            .col-12.d-flex
                #cajaCopy.d-flex
                    h2
                        b ¡Descárgala ahora!
                        
                    #cajalogos.d-flex
                        a(href="https://apps.apple.com/mx/app/sabro-a-casa/id1557315153", target="_blank", rel="noopener noreferrer") 
                            img(src="../assets/img/appstore.png", alt="Sabro APP - IOS")
                        
                        a(href="https://play.google.com/store/apps/details?id=mx.com.sabro.sabroacasa", target="_blank", rel="noopener noreferrer") 
                            img(src="../assets/img/googleplay.png", alt="Sabro APP - Android")
                        
                img.img-fluid#phone(src="../assets/img/cel.png", alt="Sabro APP")
                
section#sabroCasa
    .container
        .row 
            .col-12.text-center
                .title_sabro 
                    h2 Sabro a Casa
                        img.salpicon(src="../assets/img/salpicon-black.svg", alt="")
                    img.menu_selected(src="../assets/img/menu_selected.svg", alt="")
                    
                h3 Te ofrecemos el servicio a domicilio. Pide por teléfono o por WhatsApp 
        
        .row 
            .col-lg-4
                .sabro__card   
                    h2 AGUASCALIENTES 
                    h5.wa 
                        a(href="https://wa.me/message/GF5S2AQTJMTVO1 ", target="_blank", rel="noopener noreferrer") 449 911 3174
                    h5.tel 
                        a(href="tel:4499106471", target="_blank", rel="noopener noreferrer") 449 9106471
            .col-lg-4
                .sabro__card   
                    h2 IRAPUATO 
                    h5.wa 
                        a(href="https://wa.me/message/IIIMPBTEXC7WD1", target="_blank", rel="noopener noreferrer") 462 251 4240
                    h5.tel 
                        a(href="tel:4626264521 ", target="_blank", rel="noopener noreferrer") 462 626 45 21 
            .col-lg-4
                .sabro__card   
                    h2 LEÓN 
                    h5.wa 
                        a(href="https://wa.me/message/3UYWLSJIS7N6L1", target="_blank", rel="noopener noreferrer") 477 401 2430
                    h5.tel 
                        a(href="tel:4777636481", target="_blank", rel="noopener noreferrer") 477 763 6481
            .col-lg-4
                .sabro__card   
                    h2 MORELIA 
                    h5.wa 
                        a(href="https://wa.me/message/JDLUVEM54HERO1", target="_blank", rel="noopener noreferrer") 443 471 0359
                    h5.tel 
                        a(href="tel:4433166300", target="_blank", rel="noopener noreferrer") 443 316 6300
            .col-lg-4
                .sabro__card   
                    h2 SAN LUIS POTOSÍ 
                    h5.wa 
                        a(href="https://wa.me/message/ADFEMV52M7R2H1", target="_blank", rel="noopener noreferrer") 444 177 1484
                    h5.tel 
                        a(href="tel:4448213150", target="_blank", rel="noopener noreferrer") 444 821 31 50
            .col-lg-4
                .sabro__card   
                    h2 ZACATECAS 
                    h5.wa 
                        a(href="https://wa.me/message/7M7AUYYC6EOGH1", target="_blank", rel="noopener noreferrer") 492 101 0070
                    h5.tel 
                        a(href="tel:4921541756 ", target="_blank", rel="noopener noreferrer") 492 154 17 56 
                    
include ../shared/footer.pug