extends layout/layout.pug
block title
    title Calidad Sabrohuevo | Certificaciones
    meta(name="description", content="Conoce nuestras certificaciones, buenas prácticas de manejo y bienestar animal")

block content

    main(data-namesection="calidad")

        include shared/header.pug
        
        include modules/_calidad.pug
            
   
        
    
        

    
