extends layout/layout.pug
block title
    title Expendios de Venta  | Sabrohuevo
    meta(name="description", content="Disponemos de puntos de venta propios en los que comercializamos huevo de primera calidad.")

block content

    main(data-namesection="contacto")

        include shared/header.pug
        
        include modules/_expendios.pug
            
   
        
    
        

    
