extends layout/layout.pug
block title
    title Nuestros Productos | Sabrohuevo
    meta(name="description", content="Productos de huevo, caja, carton y estuche. Todos los detalles nutrimentales")

block content

    main(data-namesection="productos")

        include shared/header.pug
        
        include modules/_productos.pug
            
   
        
    
        

    
