extends layout/layout.pug
block title
    title Directorio de ventas | Sabrohuevo
    meta(name="description", content="Nuestra fuerza de ventas ofrece atención personalizada a nuestros clientes para el manejo de los productos Sabro.")

block content

    main(data-namesection="contacto")

        include shared/header.pug
        
        include modules/_ventas.pug
            
   
        
    
        

    
